<?xml version="1.0"?>
<config>
    <tabs>
        <cmsmart_tab translate="label" module="deliverydate">
            <label>Cmsmart Extensions</label>
            <sort_order>1</sort_order>
        </cmsmart_tab>
    </tabs>
    <sections>
        <deliverydate translate="label" module="deliverydate">
            <class>separator-top</class>
            <label>Delivery Date</label>
            <tab>cmsmart_tab</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <deliverydate_general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select Yes to enable this feature.</comment>
                        </enabled>                      
                        <custom translate="label">
                            <label>Custom</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Select Yes to enable Custom at Shipping Method.</comment>
                        </custom>
                        
                        <deliverydate_dayoff>
                            <label>Day Off</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>Cmsmart_Deliverydate_Model_Config_Dayoff</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Choose days on which shipping will not be available.</comment>
                        </deliverydate_dayoff>
                         <deliverydate_custom translate="label">
                            <label>Custom Money</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Display At Shipping Method.</comment>
                        </deliverydate_custom>
                        <deliverydate_html translate="label">
                            <label>Description for Custom Money field</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment></comment>
                        </deliverydate_html>
                    </fields>
                </deliverydate_general>
            </groups>
        </deliverydate>
    </sections>
</config>