<?xml version="1.0"?>
<config>
    <modules>
        <Potato_Pdf>
            <version>1.2.0</version>
            <platform>ce</platform>
        </Potato_Pdf>
    </modules>
    <global>
        <helpers>
            <po_pdf>
                <class>Potato_Pdf_Helper</class>
            </po_pdf>
        </helpers>
        <blocks>
            <po_pdf>
                <class>Potato_Pdf_Block</class>
            </po_pdf>
        </blocks>
        <models>
            <po_pdf>
                <class>Potato_Pdf_Model</class>
                <resourceModel>po_pdf_resource</resourceModel>
            </po_pdf>
            <po_pdf_resource>
                <class>Potato_Pdf_Model_Resource</class>
                <entities>
                    <template>
                        <table>po_pdf_template</table>
                    </template>
                </entities>
            </po_pdf_resource>
        </models>
        <resources>
            <po_pdf_setup>
                <setup>
                    <module>Potato_Pdf</module>
                </setup>
            </po_pdf_setup>
            <po_pdf_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </po_pdf_write>
            <po_pdf_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </po_pdf_read>
        </resources>
        <rewrite>
            <po_pdf_customer_order_print>
                <from><![CDATA[#^/sales/order/print/order_id/#]]></from>
                <to><![CDATA[/potato_pdf_print/print/order/order_id/]]></to>
                <complete>1</complete>
            </po_pdf_customer_order_print>
            <po_pdf_customer_invoice_print>
                <from><![CDATA[#^/sales/order/printInvoice/invoice_id/#]]></from>
                <to><![CDATA[/potato_pdf_print/print/invoice/invoice_id/]]></to>
                <complete>1</complete>
            </po_pdf_customer_invoice_print>
            <po_pdf_customer_all_invoice_print>
                <from><![CDATA[#^/sales/order/printInvoice/order_id/#]]></from>
                <to><![CDATA[/potato_pdf_print/print/invoice/order_id/]]></to>
                <complete>1</complete>
            </po_pdf_customer_all_invoice_print>
            <po_pdf_customer_shipment_print>
                <from><![CDATA[#^/sales/order/printShipment/shipment_id/#]]></from>
                <to><![CDATA[/potato_pdf_print/print/shipment/shipment_id/]]></to>
                <complete>1</complete>
            </po_pdf_customer_shipment_print>
            <po_pdf_customer_all_shipment_print>
                <from><![CDATA[#^/sales/order/printShipment/order_id/#]]></from>
                <to><![CDATA[/potato_pdf_print/print/shipment/order_id/]]></to>
                <complete>1</complete>
            </po_pdf_customer_all_shipment_print>
            <po_pdf_customer_creditmemo_print>
                <from><![CDATA[#^/sales/order/printCreditmemo/creditmemo_id/#]]></from>
                <to><![CDATA[/potato_pdf_print/print/creditMemo/creditmemo_id/]]></to>
                <complete>1</complete>
            </po_pdf_customer_creditmemo_print>
            <po_pdf_customer_all_creditmemo_print>
                <from><![CDATA[#^/sales/order/printCreditmemo/order_id/#]]></from>
                <to><![CDATA[/potato_pdf_print/print/creditMemo/order_id/]]></to>
                <complete>1</complete>
            </po_pdf_customer_all_creditmemo_print>
        </rewrite>
        <template>
            <pdf>
                <po_pdf_order_admin_template translate="label" module="po_pdf">
                    <label>Order To Admin</label>
                    <file>sales/po_pdf_order_admin_template.html</file>
                </po_pdf_order_admin_template>
                <po_pdf_invoice_admin_template translate="label" module="po_pdf">
                    <label>Invoice To Admin</label>
                    <file>sales/po_pdf_invoice_admin_template.html</file>
                </po_pdf_invoice_admin_template>
                <po_pdf_shipment_admin_template translate="label" module="po_pdf">
                    <label>Shipment To Admin</label>
                    <file>sales/po_pdf_shipment_admin_template.html</file>
                </po_pdf_shipment_admin_template>
                <po_pdf_creditmemo_admin_template translate="label" module="po_pdf">
                    <label>Credit Memo To Admin</label>
                    <file>sales/po_pdf_creditmemo_admin_template.html</file>
                </po_pdf_creditmemo_admin_template>
                <po_pdf_order_customer_template translate="label" module="po_pdf">
                    <label>Order To Customer</label>
                    <file>sales/po_pdf_order_customer_template.html</file>
                </po_pdf_order_customer_template>
                <po_pdf_invoice_customer_template translate="label" module="po_pdf">
                    <label>Invoice To Customer</label>
                    <file>sales/po_pdf_invoice_customer_template.html</file>
                </po_pdf_invoice_customer_template>
                <po_pdf_shipment_customer_template translate="label" module="po_pdf">
                    <label>Shipment To Customer</label>
                    <file>sales/po_pdf_shipment_customer_template.html</file>
                </po_pdf_shipment_customer_template>
                <po_pdf_creditmemo_customer_template translate="label" module="po_pdf">
                    <label>Credit Memo To Customer</label>
                    <file>sales/po_pdf_creditmemo_customer_template.html</file>
                </po_pdf_creditmemo_customer_template>
            </pdf>
        </template>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <po_pdf>
                    <file>po_pdf.xml</file>
                </po_pdf>
            </updates>
        </layout>
        <translate>
            <modules>
                <Potato_Pdf>
                    <files>
                        <default>Potato_Pdf.csv</default>
                    </files>
                </Potato_Pdf>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <po_pdf_add_massaction_to_order_grid>
                        <class>po_pdf/observer</class>
                        <method>addMassOrderPrintAction</method>
                    </po_pdf_add_massaction_to_order_grid>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <po_pdf before="Mage_Adminhtml">Potato_Pdf_Adminhtml</po_pdf>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <po_pdf>
                <use>standard</use>
                <args>
                    <module>Potato_Pdf</module>
                    <frontName>potato_pdf_print</frontName>
                </args>
            </po_pdf>
        </routers>
        <layout>
            <updates>
                <po_pdf>
                    <file>po_pdf.xml</file>
                </po_pdf>
            </updates>
        </layout>
        <translate>
            <modules>
                <Potato_Pdf>
                    <files>
                        <default>Potato_Pdf.csv</default>
                    </files>
                </Potato_Pdf>
            </modules>
        </translate>
    </frontend>
    <default>
        <po_pdf>
            <general>
                <is_enabled>0</is_enabled>
                <use_service>0</use_service>
                <lib_path>/usr/local/bin/wkhtmltopdf</lib_path>
                <page_orientation>P</page_orientation>
                <page_format>A4</page_format>
                <margin_bottom>25</margin_bottom>
                <margin_left>18</margin_left>
                <margin_top>25</margin_top>
                <margin_right>18</margin_right>
                <additional_options>--javascript-delay 1000</additional_options>
            </general>
            <order>
                <is_enabled>0</is_enabled>
                <admin_template>po_pdf_order_admin_template</admin_template>
                <customer_template>po_pdf_order_customer_template</customer_template>
            </order>
            <invoice>
                <is_enabled>0</is_enabled>
                <admin_template>po_pdf_invoice_admin_template</admin_template>
                <customer_template>po_pdf_invoice_customer_template</customer_template>
            </invoice>
            <shipment>
                <is_enabled>0</is_enabled>
                <admin_template>po_pdf_shipment_admin_template</admin_template>
                <customer_template>po_pdf_shipment_customer_template</customer_template>
            </shipment>
            <creditmemo>
                <is_enabled>0</is_enabled>
                <admin_template>po_pdf_creditmemo_admin_template</admin_template>
                <customer_template>po_pdf_creditmemo_customer_template</customer_template>
            </creditmemo>
            <preview>
                <order_increment_id></order_increment_id>
                <invoice_increment_id></invoice_increment_id>
                <shipment_increment_id></shipment_increment_id>
                <creditmemo_increment_id></creditmemo_increment_id>
            </preview>
        </po_pdf>
    </default>
</config>