<?xml version="1.0"?>
<config>
    <modules>
        <Cac_Restapi_Customers>
            <version>0.1.0.0</version>
        </Cac_Restapi_Customers>
    </modules>
    <global>
        <models>
           <cac_restapi_customers>
                <class>Cac_Restapi_Customers_Model</class>
            </cac_restapi_customers>
        </models>
    </global>
</config>