<?xml version="1.0"?>
<config>
  <modules>
    <Ewall_Dirvermanagement>
      <version>0.1.2</version>
    </Ewall_Dirvermanagement>
  </modules>
  <global>
    <helpers>
      <dirvermanagement>
        <class>Ewall_Dirvermanagement_Helper</class>
      </dirvermanagement>
    </helpers>
	<blocks>
	  <dirvermanagement>
		<class>Ewall_Dirvermanagement_Block</class>
	  </dirvermanagement>
	</blocks>
	<models>
	  <dirvermanagement>
		<class>Ewall_Dirvermanagement_Model</class>
		<resourceModel>dirvermanagement_mysql4</resourceModel>
	  </dirvermanagement>
	  <dirvermanagement_mysql4>
		<class>Ewall_Dirvermanagement_Model_Mysql4</class>
		<entities>
			  <driver>
				<table>driver_management</table>
			  </driver>
        </entities>
	  </dirvermanagement_mysql4>
	</models>
	<resources>
	  <dirvermanagement_setup>
		<setup>
		  <module>Ewall_Dirvermanagement</module>
			<class>Mage_Customer_Model_Resource_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </dirvermanagement_setup>
	  <dirvermanagement_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </dirvermanagement_write>
	  <dirvermanagement_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </dirvermanagement_read>
	</resources>
	<events>
	    <admin_user_save_after>
	        <observers>
	            <dirvermanagement>
	                <type>model</type>
	                <class>dirvermanagement/observer</class>
	                <method>saveDriverUsers</method>
	            </dirvermanagement>
	        </observers>
	    </admin_user_save_after>
		<sales_order_grid_collection_load_before>
		    <observers>
		        <dirvermanagement>
		            <type>model</type>
		            <class>dirvermanagement/observer</class>
		            <method>handleOrderCollectionLoadBefore</method>
		        </dirvermanagement>
		    </observers>
		</sales_order_grid_collection_load_before>
		<order_cancel_after>
	        <observers>
	            <dirvermanagement_change_custom_order_status>
	                <type>model</type>
	                <class>dirvermanagement/observer</class>
	                <method>cancelCustomStatus</method>
	            </dirvermanagement_change_custom_order_status>
	        </observers>
	    </order_cancel_after>
	</events>
  </global>
  <admin>
	<routers>
	  <dirvermanagement>
	    <use>admin</use>
		<args>
		  <module>Ewall_Dirvermanagement</module>
		  <frontName>admin_dirvermanagement</frontName>
		</args>
	  </dirvermanagement>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <dirvermanagement module="dirvermanagement">
		<title>Drivers</title>
		<sort_order>100</sort_order>
		<children>
		  <driverlocation module="dirvermanagement">
			<title>Drivers location</title>
			<sort_order>0</sort_order>
			<action>admin_dirvermanagement/adminhtml_driverlocation</action>
		  </driverlocation>
		  <drivertime module="dirvermanagement">
			<title>Drivers Report</title>
			<sort_order>1</sort_order>
			<action>admin_dirvermanagement/adminhtml_report</action>
		  </drivertime>
		  <driver module="dirvermanagement">
		    <title>List</title>
			<sort_order>2</sort_order>
			<action>admin_dirvermanagement/adminhtml_driver</action>
		  </driver>
		</children>
	  </dirvermanagement>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<dirvermanagement translate="title" module="dirvermanagement">
			  <title>Dirvers</title>
			  <sort_order>1000</sort_order>
			  <children>
				  <dirvermanagementbackend translate="title">
					<title>Backend Page Title</title>
				  </dirvermanagementbackend>
				  <driver translate="title">
					<title>List</title>
					<sort_order>0</sort_order>
				  </driver>
			  </children>
			</dirvermanagement>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<dirvermanagement>
		  <file>dirvermanagement.xml</file>
		</dirvermanagement>
	  </updates>
	</layout>
	<events>
	    <controller_action_postdispatch>
	        <observers>
	            <dirvermanagement>
	                <type>model</type>
	                <class>dirvermanagement/observer</class>
	                <method>createDrivers</method>
	            </dirvermanagement>
	        </observers>
	    </controller_action_postdispatch>
	</events>
  </adminhtml>
</config>